.header-div {
    background-color: #E1AFD1;
    height: 75px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    text-align: center;
}

.header-text {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.main-div {
    background-color: #FFE6E6;
    margin-top: 75px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
}

.about-me{
margin-left: 10px;
display: flex;
}

.info-me {
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.img-me {
    height: 100px;
    margin: -10px 5px 20px;
}

.text-me {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    margin-left: -80px;
    padding-top: 60px;
    line-height: 0.9em;
}

.study-me {
    margin-left: 10px;
    margin-top: -20px;
}

.study-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    line-height: 0.7em;
    margin-top: -10px;
}

.skills-me {
    margin-left: 10px;
}

.skills-text {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    line-height: 0.7em;
    margin-top: -10px;
}

.projects-me {
    margin-left: 10px;
}

.projects-text {
    margin-top: -10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    line-height: 0.7em;
    margin-top: -10px;
}